@model LoginVM
@{
	Layout = null;
}

<link rel="stylesheet" href="~/css/register.css">

<partial name="~/Views/Shared/NavBarPartialView.cshtml" />

@if (ViewData["Message"] != null)
{
	<h3 style="color:orangered;"><i>@ViewData["Message"]</i></h3>
}