@model Blog.Models.Entities.Makale

@{
    ViewData["Title"] = "WriteArticle";
}

<h1>WriteArticle</h1>

<h4>Makale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="WriteArticle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KonuID" class="control-label"></label>
                <select asp-for="KonuID" class ="form-control" asp-items="ViewBag.KonuID"></select>
            </div>
            <div class="form-group">
                <label asp-for="YazarID" class="control-label"></label>
                <input asp-for="YazarID" class="form-control" />
                <span asp-validation-for="YazarID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Baslik" class="control-label"></label>
                <input asp-for="Baslik" class="form-control" />
                <span asp-validation-for="Baslik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icerik" class="control-label"></label>
                <input asp-for="Icerik" class="form-control" />
                <span asp-validation-for="Icerik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OkunmaSayisi" class="control-label"></label>
                <input asp-for="OkunmaSayisi" class="form-control" />
                <span asp-validation-for="OkunmaSayisi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OkunmaSuresi" class="control-label"></label>
                <input asp-for="OkunmaSuresi" class="form-control" />
                <span asp-validation-for="OkunmaSuresi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"></label>
                <input asp-for="IsActive" class="form-control" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
