﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Blog.styles.css" asp-append-version="true" />*@
	<script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>

	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="~/css/theme-1.css">
</head>
<body>
	<header class="header text-center">
		@if (User.Identity.IsAuthenticated)
				{
		<h1 class="blog-name pt-lg-4 mb-0"><a href="Home/Index">@User.Identity.Name's  Blog</a></h1>
				}
		@if (!User.Identity.IsAuthenticated)
		{
			<h1 class="blog-name pt-lg-4 mb-0"><a href="Home/Index">Overthinker's Blog</a></h1>
		}
		<nav class="navbar navbar-expand-lg navbar-dark">

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column">
				@if (User.Identity.IsAuthenticated)
				{
					<div class="profile-section pt-3 pt-lg-0">
						<img class="profile-image mb-3 rounded-circle mx-auto" src="https://avatars.githubusercontent.com/u/142047596?s=200&v=4" alt="image">

						<div class="bio mb-3">Hi, my name is @User.Identity.Name<br><a href="/Home/About">Find out more about me</a></div><!--//bio-->
						<ul class="social-list list-inline py-3 mx-auto">
							<li class="list-inline-item"><a href="#"><i class="fab fa-twitter fa-fw"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in fa-fw"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-github-alt fa-fw"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-stack-overflow fa-fw"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-codepen fa-fw"></i></a></li>
						</ul><!--//social-list-->
						<hr>
					</div><!--//profile-section-->
				}
				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item active">
						<a class="nav-link" href="/Home"><i class="fas fa-home fa-fw mr-2"></i>Blog Home <span class="sr-only">(current)</span></a>
					</li>
<<<<<<< HEAD
					@if (User.Identity.IsAuthenticated)
				{
										
						<li class="nav-item">
							<a class="nav-link" href="/Home/About"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/Account/Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/Account/WriteArticle"><i class="fas fa-user fa-fw mr-2"></i>Write Article</a>
						</li>
				}
					@if (!User.Identity.IsAuthenticated)
					{
						<li class="nav-item">
							<a class="nav-link" href="/Account/Login"><i class="fas fa-user fa-fw mr-2"></i>Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/Account/Register"><i class="fas fa-user fa-fw mr-2"></i>Register</a>
					</li>}
					</ul>
				
=======
					<li class="nav-item">
						<a class="nav-link" href="/Home/About"><i class="fas fa-user fa-fw mr-2"></i>About Me</a>
					</li>
				</ul>
>>>>>>> 53ff53d0011d7f2ff061ab2f30b34afecec06512

				<div class="my-2 my-md-3">
					<a class="btn btn-primary" href="https://www.google.com/" target="_blank">Search Google</a>
				</div>
			</div>
		</nav>
	</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


@*    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
	<script src="~/js/jquery-3.3.1.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/3d366d3709.js" crossorigin="anonymous"></script>
	
	<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
	<script src="~/js/style-switcher.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>